.character-modal__overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.character-modal__content {
  background-color: #222;
  padding: 24px;
  border-radius: 10px;
  max-width: 480px;
  width: 90%;
  color: white;
  position: relative;
}

.character-modal__close {
  position: absolute;
  top: 10px;
  right: 14px;
  background: none;
  border: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.character-modal__title {
  text-align: center;
  margin-bottom: 16px;
}

.character-modal__image-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.character-modal__image {
  width: 70%;
  border-radius: 8px;
}

.character-modal__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin: 0px 16px;
}

.character-modal__details {
  flex: 1;
}

.character-modal__details p {
  margin: 6px 0;
}

.character-modal__favorite {
  display: flex;
  align-items: center;
}
