.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
  max-width: 500px;
}

.searchbar__input {
  flex: 1;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #00bfff;
  border-radius: 5px 0 0 5px;
  outline: none;
  transition:
    border 0.3s,
    box-shadow 0.3s;
}

.searchbar__input:focus {
  border-color: #ffcc00;
  box-shadow: 0 0 5px rgba(255, 204, 0, 0.7);
}

.searchbar__button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #00bfff;
  color: white;
  border: 2px solid #00bfff;
  border-left: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.2s;
}

.searchbar__button:hover {
  background-color: #009acd;
  transform: scale(1.05);
}
