.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  z-index: 100;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.navbar--scrolled {
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar__content {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  height: 66px;
  display: block;
}

.navbar__links {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 16px;

  li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }

  li a:hover {
    opacity: 0.7;
    color: #b3b3b3;
  }
}

.navbar__links--active {
  color: #b3b3b3;
}
